/** sass/scss/less code */
@import url("https://fonts.googleapis.com/css?family=Lato");
body {
    background: url(https://res.cloudinary.com/mikescloud/image/upload/v1502080829/pexels-photo-87739_dnoc55.jpg) no-repeat center fixed;
    background-size: cover;
}

/*Main Jumbotron style*/
.jumbotron {
    text-align: center;
    font-family: 'Lato';
}

.jumbotron .fa-cloud {
    opacity: 0.7;
}

.jumbotron .container {
    padding-top: 1em;
}

.jumbotron .card {
    display: inline-block;
    width: 28%;
    min-height: 4.5em;
    font-size: 25px;
}

.jumbotron .card #temp:hover{
  color: #006dcc;
  cursor: pointer;
}

.jumbotron .card img {
  width: 25%;
}

/*Footer style*/
.footer {
    background-color: rgba(27, 80, 97, 0.9);
    padding-top: 0.5em;
    height: 3.5em;
    text-align: center;
    color: #c8c8c8;
}

.footer h3 {
    font-size: 15px;
}

.footer h3 strong:hover {
    color: #aee3f9;
}

.footer a:hover {
    text-decoration: none;
}

.footer i {
    color: #7b7c7c;
    text-decoration: none;
    padding-right: 0.2em;
}

.footer i:hover {
    color: #aee3f9;
    transition: 0.5s;
}
